<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ChuanMeiStaffTeam.hx.dao.PostMapper">


    <select id="selectPostById" resultType="com.ChuanMeiStaffTeam.hx.model.vo.SysPostImage">

    </select>


    <select id="selectTop5PostTags" resultType="java.lang.String">
        select tags
        from sys_posts
        where is_deleted = 0
          and tags is not null
          and tags != 'null'
	      and TRIM(tags) != ''
        group by tags
        order by count(*) desc limit 5
    </select>
</mapper>