<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ChuanMeiStaffTeam.hx.dao.PostMapper">


    <select id="selectPostById" resultType="com.ChuanMeiStaffTeam.hx.model.vo.SysPostImage">

    </select>
</mapper>