<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ChuanMeiStaffTeam.hx.dao.UserMapper">
    <resultMap id="userResultMap" type="com.ChuanMeiStaffTeam.hx.model.User">
        <!-- 这里的id属性是随便起的，只要保证唯一即可 -->
        <id property="userId" column="user_id"/> <!-- 这里的property属性是User类的属性名，column属性是数据库表的列名 -->
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="salt" column="salt"/>
        <result property="passwordHash" column="password_hash"/>
        <result property="bio" column="bio"/>
        <result property="profilePictureUrl" column="profile_picture_url"/>
        <result property="websiteUrl" column="website_url"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="gender" column="gender"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="address" column="address"/>
        <result property="city" column="city"/>
        <result property="state" column="state"/>
        <result property="country" column="country"/>
        <result property="postalCode" column="postal_code"/>
        <result property="lastLoginAt" column="lastlogin_at"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="loginAttempts" column="login_attempts"/>
        <result property="accountLocked" column="account_locked"/>
        <result property="lockoutTime" column="lockout_time"/>
        <result property="facebookUrl" column="facebook_url"/>
        <result property="twitterUrl" column="twitter_url"/>
        <result property="privacySettings" column="privacy_settings"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id
        , username, email, salt, password_hash, bio,
        profile_picture_url,website_url, phone_number,
        gender, date_of_birth, address, city, state, country,
        postal_code, created_at, updated_at,
        login_attempts, account_locked, lockout_time,
        facebook_url, twitter_url, privacy_settings
    </sql>


    <insert id="insertUser" parameterType="com.ChuanMeiStaffTeam.hx.model.User">
        INSERT INTO sys_user (username, salt, password_hash,)
        VALUES (#{username}, #{salt}, #{passwordHash})
    </insert>


    <select id="selectByUserName" resultMap="userResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user WHERE username = #{username}
    </select>

    <!--    更新用户最后登录时间-->
    <update id="updateLastLoginTime" parameterType="com.ChuanMeiStaffTeam.hx.model.User">
        UPDATE sys_user
        SET lastlogin_at = #{lastLoginAt}
        WHERE user_id = #{userId}
    </update>


    <!--    更新用户登录失败次数    -->
    <update id="updateLoginCount" parameterType="com.ChuanMeiStaffTeam.hx.model.User">
        UPDATE sys_user
        SET login_attempts = #{loginAttempts}
        WHERE user_id = #{userId}
    </update>


    <select id="selectByUserId" resultType="com.ChuanMeiStaffTeam.hx.model.User" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_id = #{userId}
    </select>
</mapper>