# 忽略 CocoaPods 目录
Pods/
Podfile.lock

.DS_Store
huanxi.xcodeproj/xcuserdata/
huanxi.xcodeproj/project.xcworkspace/xcshareddata/
huanxi.xcodeproj/project.xcworkspace/xcuserdata/
huanxi.xcworkspace/xcuserdata/

